# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
backend/.venv/
.venv/

# Python virtual environments
env/
env/**
venv/
.venv/
backend/.venv/

# Testing
.pytest_cache/
backend/pytest-cache-files-*/

# Environment files
.env
.env.*
!.env.example
!backend/.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
